@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  background-color: #0c0c0c;
}

.int-titles {
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  @apply bg-gradient-to-r from-red-500 to-orange-500;
}

.port-container {
  background-repeat: no-repeat;
  background-position: right;
  @apply bg-cover sm:bg-contain bg-none sm:bg-[url(/src/assets/imgs/bg_1.webp)];
}

#sobre {
  background-image: url(/src/assets/svgs/s_bg_1.svg);
  background-size: cover;
  background-repeat: no-repeat;
}

.sb-div {
  border: solid 0.1rem rgb(122, 122, 122);
  border-style: solid solid none solid;
  box-shadow: 0 16px 50px rgba(0, 0, 0, 0.8);
  @apply flex flex-col border-none sm:border-current h-fit w-content px-10 pt-24 pb-14 sm:py-20 gap-20 sm:rounded-[2rem] bg-dark_gray sm:bg-opacity-95 backdrop-blur-lg;
}

.sb-items {
  @apply w-full sm:w-[33%] min-h-full px-9 py-8 flex flex-row gap-7 bg-slate-100 bg-opacity-[0.04] rounded-2xl border-[0.009rem] border-white border-opacity-20;
}

.menu-list {
  @apply hidden sm:flex sm:flex-row sm:items-center sm:justify-center sm:bg-slate-100 sm:bg-opacity-5 sm:px-20 sm:py-4 sm:rounded-full sm:gap-9 sm:text-white backdrop-blur-lg sm:text-[1.4rem];
}

.menu-items {
  @apply ease-in-out transition duration-300 hover:scale-110;
}

.acc-item {
  @apply w-5 h-5 text-gray-500 transition group-open:rotate-90;
}

.faq-items {
  @apply flex items-center gap-3 px-4 py-3 font-medium marker:content-none hover:cursor-pointer;
}

.int-titles-scnd {
  @apply int-titles from-red-700 to-orange-500;
}

.main-cta {
  @apply bg-gradient-to-r from-primary to-orange-500 px-[1.8rem] py-[1rem] sm:px-[2.5rem] sm:py-[1.5rem] flex flex-row w-fit gap-5 items-center rounded-full text-white text-[1.2rem] sm:text-[1.4rem] hover:scale-110 hover:cursor-pointer transition duration-300 ease-in-out;
}

.sidebar {
  @apply gap-5 text-[1.4rem] w-[50%] h-full fixed top-0 right-0 bg-dark_gray bg-opacity-90 backdrop-blur-sm hidden flex-col pl-20 pt-32 items-start justify-start sm:hidden z-40 overflow-hidden;
}

.up-btn {
  @apply w-20 h-20 sm:w-16 sm:h-16 bg-dark_gray rounded-full flex fixed right-10 bottom-12 justify-center items-center hover:cursor-pointer sm:hover:scale-110 transition duration-300 ease-in-out z-30;
}

@media (max-width: 800px) {
  .sb-div {
    box-shadow: none;
  }
}

@keyframes pulse {
  50% {
    opacity: 0.2;
  }
}
