@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  color: white;
  background-color: #0c0c0c;
}

.int-titles {
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  @apply bg-gradient-to-r from-red-500 to-orange-500;
}

.port-container {
  background-repeat: no-repeat;
  background-position: right;
  @apply bg-cover sm:bg-contain bg-none sm:bg-[url(/src/assets/imgs/bg_1.webp)];
}

#sobre {
  background-image: url(/src/assets/svgs/s_bg_1.svg);
  background-size: cover;
  background-repeat: no-repeat;
}

.sb-div {
  border: solid 0.1rem rgb(122, 122, 122);
  border-style: solid solid none solid;
  box-shadow: 0 16px 50px rgba(0, 0, 0, 0.8);
  @apply flex flex-col border-none sm:border-current h-fit w-content px-10 pt-24 pb-14 sm:py-20 gap-20 sm:rounded-[2rem] bg-dark_gray sm:bg-opacity-95 backdrop-blur-lg;
}

.lp-items {
  list-style-type: disc;
}

.lp-items:first-child {
  margin-top: 0;
}

.lp-items li {
  margin-top: 10px;
}

.banner-pattern {
  @apply container max-w-content py-24 px-10 lg:px-0 flex flex-col justify-center items-center gap-14 sm:gap-20;
}

.sb-items {
  @apply w-full sm:w-[33%] min-h-full px-9 py-8 flex flex-row gap-7 bg-slate-100 bg-opacity-[0.04] rounded-2xl border-[0.009rem] border-white border-opacity-20;
}

.menu-list {
  @apply hidden md:flex md:flex-row md:items-center md:justify-center md:bg-slate-100 md:bg-opacity-5 md:px-20 md:py-4 md:rounded-full md:gap-9 md:text-white backdrop-blur-lg md:text-[1.4rem];
}

.menu-items {
  @apply ease-in-out transition duration-300 hover:scale-110;
}

.acc-item {
  @apply w-5 h-5 text-gray-500 transition group-open:rotate-90;
}

.faq-items {
  @apply flex items-center gap-3 px-4 py-3 font-medium marker:content-none hover:cursor-pointer;
}

.int-titles-scnd {
  @apply int-titles from-red-700 to-orange-500;
}

.main-cta {
  @apply bg-gradient-to-r from-primary to-orange-500 px-[1.8rem] py-[1rem] sm:px-[2.5rem] sm:py-[1.5rem] flex flex-row w-fit gap-5 items-center rounded-full text-white text-[1.2rem] sm:text-[1.4rem] hover:scale-110 hover:cursor-pointer transition duration-300 ease-in-out;
}

.sidebar {
  @apply gap-5 text-[1.4rem] w-[50%] h-full fixed top-0 right-0 bg-dark_gray bg-opacity-90 backdrop-blur-sm hidden flex-col pl-20 pt-32 items-start justify-start sm:hidden z-40 overflow-hidden;
}

.up-btn {
  @apply w-20 h-20 sm:w-16 sm:h-16 bg-dark_gray rounded-full flex fixed right-10 bottom-12 justify-center items-center hover:cursor-pointer sm:hover:scale-110 transition duration-300 ease-in-out z-30;
}

.promo-div-img {
  @apply border-[0.1rem] rounded-3xl border-white border-opacity-40;
}

@media (max-width: 800px) {
  .sb-div {
    box-shadow: none;
  }
}

.animate {
  animation-duration: 0.75s;
  animation-duration: 1s;
  animation-delay: 0.5s;
  animation-name: animate-fade;
  animation-timing-function: cubic-bezier(0.26, 0.53, 0.74, 1.48);
  animation-fill-mode: backwards;
}

/* Fade In */
.animate.fade {
  animation-name: animate-fade;
  animation-timing-function: ease;
}
@keyframes animate-fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Pop In */
.animate.pop {
  animation-name: animate-pop;
}
@keyframes animate-pop {
  0% {
    opacity: 0;
    transform: scale(0.5, 0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1, 1);
  }
}

/* Blur In */
.animate.blur {
  animation-name: animate-blur;
  animation-timing-function: ease;
}
@keyframes animate-blur {
  0% {
    opacity: 0;
    filter: blur(15px);
  }
  100% {
    opacity: 1;
    filter: blur(0px);
  }
}

/* Glow In */
.animate.glow {
  animation-name: animate-glow;
  animation-timing-function: ease;
}
@keyframes animate-glow {
  0% {
    opacity: 0;
    filter: brightness(3) saturate(3);
    transform: scale(0.8, 0.8);
  }
  100% {
    opacity: 1;
    filter: brightness(1) saturate(1);
    transform: scale(1, 1);
  }
}

/* Grow In */
.animate.grow {
  animation-name: animate-grow;
}
@keyframes animate-grow {
  0% {
    opacity: 0;
    transform: scale(1, 0);
    visibility: hidden;
  }
  100% {
    opacity: 1;
    transform: scale(1, 1);
  }
}

/* Splat In */
.animate.splat {
  animation-name: animate-splat;
}

@keyframes animate-splat {
  0% {
    opacity: 0;
    transform: scale(0, 0) rotate(20deg) translate(0, -30px);
  }
  70% {
    opacity: 1;
    transform: scale(1.1, 1.1) rotate(15deg);
  }

  85% {
    opacity: 1;
    transform: scale(1.1, 1.1) rotate(15deg) translate(0, -10px);
  }

  100% {
    opacity: 1;
    transform: scale(1, 1) rotate(0) translate(0, 0);
  }
}

/* Roll In */
.animate.roll {
  animation-name: animate-roll;
}
@keyframes animate-roll {
  0% {
    opacity: 0;
    transform: scale(0, 0) rotate(360deg);
  }
  100% {
    opacity: 1;
    transform: scale(1, 1) rotate(0deg);
  }
}

/* Flip In */
.animate.flip {
  animation-name: animate-flip;
  transform-style: preserve-3d;
  perspective: 1000px;
}
@keyframes animate-flip {
  0% {
    opacity: 0;
    transform: rotateX(-120deg) scale(0.9, 0.9);
  }
  100% {
    opacity: 1;
    transform: rotateX(0deg) scale(1, 1);
  }
}

/* Spin In */
.animate.spin {
  animation-name: animate-spin;
  transform-style: preserve-3d;
  perspective: 1000px;
}
@keyframes animate-spin {
  0% {
    opacity: 0;
    transform: rotateY(-120deg) scale(0.9, 0.9);
  }
  100% {
    opacity: 1;
    transform: rotateY(0deg) scale(1, 1);
  }
}

/* Slide In */
.animate.slide {
  animation-name: animate-slide;
}
@keyframes animate-slide {
  0% {
    opacity: 0;
    transform: translate(0, 20px);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

/* Drop In */
.animate.drop {
  animation-name: animate-drop;
  animation-timing-function: cubic-bezier(0.77, 0.14, 0.91, 1.25);
}
@keyframes animate-drop {
  0% {
    opacity: 0;
    transform: translate(0, -300px) scale(0.9, 1.1);
  }
  95% {
    opacity: 1;
    transform: translate(0, 0) scale(0.9, 1.1);
  }
  96% {
    opacity: 1;
    transform: translate(10px, 0) scale(1.2, 0.9);
  }
  97% {
    opacity: 1;
    transform: translate(-10px, 0) scale(1.2, 0.9);
  }
  98% {
    opacity: 1;
    transform: translate(5px, 0) scale(1.1, 0.9);
  }
  99% {
    opacity: 1;
    transform: translate(-5px, 0) scale(1.1, 0.9);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0) scale(1, 1);
  }
}

/* Animation Delays */
.delay-1 {
  animation-delay: 0.6s;
}
.delay-2 {
  animation-delay: 0.7s;
}
.delay-3 {
  animation-delay: 0.8s;
}
.delay-4 {
  animation-delay: 0.9s;
}
.delay-5 {
  animation-delay: 1s;
}
.delay-6 {
  animation-delay: 1.1s;
}
.delay-7 {
  animation-delay: 1.2s;
}
.delay-8 {
  animation-delay: 1.3s;
}
.delay-9 {
  animation-delay: 1.4s;
}
.delay-10 {
  animation-delay: 1.5s;
}
.delay-11 {
  animation-delay: 1.6s;
}
.delay-12 {
  animation-delay: 1.7s;
}
.delay-13 {
  animation-delay: 1.8s;
}
.delay-14 {
  animation-delay: 1.9s;
}
.delay-15 {
  animation-delay: 2s;
}

@media screen and (prefers-reduced-motion: reduce) {
  .animate {
    animation: none !important;
  }
}

@keyframes pulse {
  50% {
    opacity: 0.2;
  }
}
